<% provide :title, t("static_pages.contact.title") %>
<h1><%= t "static_pages.contact.title" %></h1>
<p>
  <%= t "static_pages.contact.sentence" %>
  <%= link_to t("static_pages.contact.page"), "http://www.railstutorial.org/contact" %>
</p>
