<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t "static_pages.home.welcome" %></h1>
  <h2>
    <%= t ".home_page_show" %>
    <%= link_to t("rails_tutorial"), "http://www.railstutorial.org/" %>
    <%= t ".rails_app_title" %>
  </h2>
</div>
