<h1><%= t "sample_app" %></h1>
<p><%= t "user_mailer.account_activation.hi", user_name:@user.name %></p>
<p>
<%= t "user_mailer.account_activation.activate_account" %>
</p>
<%= link_to t("user_mailer.account_activation.activate"),
  edit_account_activation_url(@user.activation_token, email: @user.email) %>
