<% provide :title, t("users.index.all_users") %>
<h1><%= t "users.index.all_users" %></h1>
<%= will_paginate %>
<ul class="users">
  <%= render "users/user.html.erb", users: @users %>
</ul>
<%= will_paginate %>
